@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --bg-color: #16181a;
    --text-color: #F4FAFF;
    --main-color: #6932f5;
    --big-font: 4.2rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

    ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background-color: var(--bg-color);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--main-color); 
    border-radius: 3px; 
  }

/* RESPONSIVIDADE */

@media screen and (min-width:1676px) {
    .experiences .timeline-information {
        padding: 1.2rem 0.6rem;
        border-left: 2.6rem;
    }
    .experiences{
        margin-left: 25rem;
    }
}

/* MAX-WIDTH */

@media screen and (max-width:1339px ) {
    .experiences{
        margin-left: 10rem;
    }
}

@media screen and (max-width:1149px) {
    .container-secondary-contact {
        flex-direction: column-reverse;
        max-width: 90%;
        margin: 1.4rem auto;
    }
    .container-secondary-contact img {
        width: 400px;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:1100px) {
    header {
        padding: 10px 7%;
    }

    .home-img {
        width: 450px;
        height: 450px;
    }

    .home-text h1 {
        font-size: 3.8rem;
    }
    
    .home-text p {
        font-size: 1rem;
        width: 500px;
    }

    .container-about-me {
        margin-top: 30px;
    }
    
    .container-about-me img {
        width: 430px;
    }
    .about-me h4{
        font-size: 0.9rem;
        margin-bottom: 0.7rem;
    }
    
    .about-me h2{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    .about-me p{
        font-size: 1rem;
        width: 600px;
    }

    .skills {
        flex-wrap: wrap;
    }

    .portfolio, .all-portfolio {
        justify-content: space-around;
        gap: 60px;
    }
}

@media screen and (max-width:930px) {
    .logo {
        font-size: 38px;
    }

    header {
        padding: 12px 12%;
    }
    
    .navbar {
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 50px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        background: #2d2d2d;
        transition: all 0.4s ease-in-out;
    }

    .navbar a {
        display: block;
        color: #c3c3c3;
        padding: 0px;
        margin: 0px 0px 20px 0px;
        font-size: 1.3rem;
        font-weight: 400;
    }
    .navbar.open {
        left: 0;
    }

    .home-img {
        width: 390px;
        height: 390px;
    }

    .home-text h1 {
        font-size: 3rem;
    }
    
    .home-text p {
        font-size: 0.9rem;
        width: 390px;
    }

    .home-text span {
        font-size: 12px;
    }

    .container-about-me {
        margin-top: 20px;
    }
    
    .container-about-me img {
        width: 360px;
    }
    .about-me h4{
        font-size: 0.9rem;
        margin-bottom: 0.7rem;
    }
    
    .about-me h2{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .about-me p{
        font-size: 0.9rem;
        width: 450px;
    }
    .experiences .timeline-information {
        padding: 1.2rem 0.6rem;
        border-left: 2.6rem;
    }
    .experiences{
        margin-left: 7rem;
    }
    .experiences h3{
        margin-top: 1rem;
        font-size: 1.4rem;
    }
    
    .experiences p{
        line-height: 1.8rem;
        font-size: 1rem;
    }
}

@media screen and (max-width:800px) {
    .container-emphasis {
        flex-direction: column-reverse;
        margin-top: 240px;
    }

    .home-img {
        width: 400px;
        height: 400px;
        margin-bottom: 40px;
    }

    .home-text h1 {
        font-size: 3.8rem;
    }
    
    .home-text p {
        font-size: 1rem;
        width: 600px;
    }

    .home-text span {
        font-size: 16px;
    }

    .container-about-me {
        flex-direction: column;
        margin-top: 210px;
    }
    
    .container-about-me img {
        width: 400px;
    }

    .about-me {
        margin-top: 40px;
    }
    .about-me h4{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    .about-me h2{
        font-size: 1.8rem;
        margin-bottom: 1.1rem;
        max-width: 580px;
    }
    .about-me p{
        width: 600px;
    }
}

@media screen and (max-width:746px) {
    .container-emphasis .home-img {
        margin-top: 50px;
    }
    .experiences{
        margin-left: 5rem;
    }
    .experiences h3{
        margin-top: 1rem;
        font-size: 1.4rem;
    }
    .experiences p{
        line-height: 1.8rem;
        font-size: 1rem;
    }
}

@media screen and (max-width:600px) {
    .container-emphasis .home-img {
        margin-top: 120px;
    }

    .home-text h1 {
        font-size: 3rem;
    }
    
    .home-text p {
        font-size: 1rem;
        width: 440px;
    }

    .home-text span {
        font-size: 13px;
    }
    
    .container-about-me img {
        margin-top: 100px;
        width: 350px;
    }

    .about-me {
        margin-top: 40px;
    }
    .about-me h4{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    .about-me h2{
        font-size: 1.8rem;
        margin-bottom: 1.1rem;
        max-width: 550px;
    }
    .about-me p{
        font-size: 0.9rem;
        width: 500px;
    }
    .fixed-icon {
        display: none;
    }
}

@media screen and (max-width:550px) {
    .container-emphasis .home-img {
        margin-top: 0px;
    }

    .container-about-me img {
        margin-top: 0px;
    }

    .about-me {
        margin-top: 30px;
    }

    .about-me h2{
        font-size: 1.5rem;
        max-width: 400px;
    }
    .about-me p{
        width: 430px;
    }
    .experiences{
        margin-left: 3rem;
        padding: 0 3rem 2rem 1.5rem;
    }
    .experiences .icons-timeline{ 
        left: -2.2rem;
        height:4rem;
        width: 4rem;
        border-radius: 50%;
        line-height: 4rem;
        font-size: 2rem;
    }
    .experiences span {
        margin-left: 1rem;
    }
    .experiences h3{
        margin-top: 0.9rem;
        font-size: 1.4rem;
    }
    .experiences p{
        line-height: 1.5rem;
        font-size: 1rem;
    }
    .forms-contact input {
        width: 380px;
        padding: 10px 12px;
        height: 50px;
    }
    .forms-contact textarea {
        width: 380px;
        padding: 10px 12px;
    }
    .forms-contact button {
        width: 380px;
        height: 3rem;
        font-size: 1rem;
    }
}

@media screen and (max-width:480px) {
    .container-about-me img {
        width: 360px;
    }
    .about-me {
        margin-top: 25px;
    }
    .about-me h4{
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }
    .about-me h2{
        margin-bottom: 0.9rem;
        max-width: 390px;
    }
    .about-me p{
        font-size: 1rem;
        width: 400px;
    }
}

@media screen and (max-width:450px) {
    .home-img {
        width: 350px;
        height: 350px;
        margin-bottom: 30px;
    }

    .home-text h1 {
        font-size: 2.6rem;
    }
    
    .home-text p {
        font-size: 0.9rem;
        width: 400px;
    }

    .about-me {
        margin-top: 25px;
    }
    .about-me h4{
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    
    .about-me h2{
        font-size: 1.2rem;
        margin-bottom: 0.9rem;
        max-width: 350px;
    }
    .about-me p{
        font-size: 0.8rem;
        width: 420px;
    }
    .container-secondary-contact img {
        width: 340px;
    }
}

@media screen and (max-width:414px) {
    .home-text {
        margin-left: 10px;
    }
    .home-text p {
        width: 370px;
    }

    .about-me {
        margin-left: 6px;
    }
    .about-me p {
        width: 350px;
    }
    .container-secondary-contact img {
        width: 320px;
    }
    .forms-contact input {
        width: 320px;
    }
    .forms-contact textarea {
        width: 320px;
    }
    .forms-contact button {
        width: 320px;

    }
}

@media screen and (max-width:390px) {
    .container-emphasis {
        margin-top: 130px;
    }

    .home-img {
        width: 350px;
        height: 350px;
        margin-bottom: 30px;
    }

    .home {
        margin-left: 8px;
    }

    .home-text h1 {
        font-size: 2.4rem;
    }
    
    .home-text p {
        font-size: 0.9rem;
        width: 350px;
    }

    .two {
        margin-left: 10px;
    }

    .container-about-me {
        margin-top: 180px;
    }

    .container-about-me img {
        width: 380px;
    }

    .about-me {
        margin-top: 25px;
    }
    .about-me h4{
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    
    .about-me h2{
        font-size: 1.2rem;
        margin-bottom: 0.9rem;
        max-width: 300px;
    }
    .about-me p{
        font-size: 0.8rem;
        width: 350px;
    }
}

@media screen and (max-width:378px) {
    .box-projects {
        width: 300px;
    }
    .box-projects .image-project {
        height: 10rem;
    }
    .box-projects h3 {
        font-size: 1.5rem;
        margin-bottom: 8px;
    }
    .box-projects p {
        width: 280px;
    }
    .button-and-icons-container {
        gap: 15px;
    }
}

@media screen and (max-width:360px) {
    .home-img {
        width: 300px;
        height: 300px;
        margin-bottom: 30px;
    }

    .home-text {
        margin-left: 10px;
    }
    .home-text p {
        width: 330px;
    }

    .about-me {
        margin-left: 6px;
    }
    .about-me p {
        width: 300px;
    }

    .bnt, .two {
        margin-left: 70px;
        margin-top: 10px;
    }
}